name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-fedora:
    name: Build (fedora-latest)
    runs-on: ubuntu-latest
    container:
      image: fedora:39
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo dnf -y install gcc git-core make cmake ninja-build \
          alsa-lib-devel fribidi-devel pulseaudio-libs-devel pipewire-devel \
          libX11-devel libXext-devel libXrandr-devel libXcursor-devel libXfixes-devel \
          libXi-devel libXScrnSaver-devel libXtst-devel dbus-devel ibus-devel \
          systemd-devel mesa-libGL-devel libxkbcommon-devel mesa-libGLES-devel \
          mesa-libEGL-devel vulkan-devel wayland-devel wayland-protocols-devel \
          libdrm-devel mesa-libgbm-devel libusb1-devel libdecor-devel \
          pipewire-jack-audio-connection-kit-devel libthai-devel liburing-devel
      
      - name: Build SDL3
        run: |
          git clone https://github.com/libsdl-org/SDL.git
          cd SDL
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DSDL_TEST=OFF
          ninja
          sudo ninja install

      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
          ninja

      - name: Run tests
        run: |
          ctest --output-on-failure

  build-ubuntu:
    name: Build (ubuntu-latest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt-get -y install build-essential git make \
          pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev \
          libaudio-dev libfribidi-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
          libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev \
          libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
          libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libthai-dev

      - name: Build SDL3
        run: |
          git clone https://github.com/libsdl-org/SDL.git
          cd SDL
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DSDL_TEST=OFF
          ninja
          sudo ninja install

      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
          ninja

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

  build-windows:
    name: Build (windows-latest)
    runs-on: windows-latest
    env:
      SDL_VERSION: 3.2.28

    steps:
      - uses: actions/checkout@v4
        with:
          submodules:
            true
      - name: Cache SDL
        id: cache-windows-sdl
        uses: actions/cache@v3
        env:
          cache-name: cache-sdl
        with:
          path: C:\SDL3
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ env.SDL_VERSION }}

      - if: ${{ steps.cache-windows-sdl.outputs.cache-hit != 'true' }}
        name: Download SDL if not cached
        run: |
          Invoke-WebRequest "https://github.com/libsdl-org/SDL/releases/download/release-$env:SDL_VERSION/SDL3-devel-$env:SDL_VERSION-VC.zip" -OutFile C:\SDL.zip
          Expand-Archive C:\SDL.zip -DestinationPath C:\SDL3

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_PREFIX_PATH="C:\SDL3"

      - name: Build
        run: |
          cd build
          cmake --build . --config Release

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure
