name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake ninja-build build-essential
          sudo apt install libsdl3-dev
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
          ninja
      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

  build-windows:
    name: Build (windows-latest)
    runs-on: windows-latest
    env:
      SDL_VERSION: 3.2.28

    steps:
      - uses: actions/checkout@v4
        with:
          submodules:
            true
      - name: Cache SDL
        id: cache-windows-sdl
        uses: actions/cache@v3
        env:
          cache-name: cache-sdl
        with:
          path: C:\SDL3-*
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ env.SDL_VERSION }}
      - if: ${{ steps.cache-windows-sdl.outputs.cache-hit != 'true' }}
        name: Download SDL if not cached
        run: |
          Invoke-WebRequest "https://github.com/libsdl-org/SDL/releases/download/release-$env:SDL_VERSION/SDL3-$env:SDL_VERSION-win32-x86.zip" -OutFile C:\SDL.zip
          Expand-Archive C:\SDL.zip -DestinationPath C:\

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_PREFIX_PATH="C:\SDL3-${env:SDL_VERSION}"

      - name: Build
        run: |
          cd build
          ninja

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure
